<h2 class="card-title h5">Dropdown</h2>

<button
    type="button"
    class="blue-anchor btn blue-btn-soft-secondary"
    popovertarget="components-showcase-dropdown"
    style="--blue-anchor-name: --anchor-components-showcase-dropdown">Open popover</button
>

<div
    class="position-fixed blue-anchored blue-anchored-start blue-anchored-fallback bg-body text-body rounded-4 m-0 mt-1 border p-0 shadow"
    id="components-showcase-dropdown"
    popover
    style="max-height: 600px; --blue-anchor-name: --anchor-components-showcase-dropdown;"
>
    <div class="p-1">
        <div class="list-group list-group-flush">
            <h2 class="fs-6 list-group-item fw-bold sticky-top">Group 1 with a pretty long title</h2>
            <button type="button" class="list-group-item list-group-item-action">Item 1.1</button>
            <button type="button" class="list-group-item list-group-item-action">Item 1.2</button>
            <button type="button" class="list-group-item list-group-item-action">Item 1.3</button>
            <button type="button" class="list-group-item list-group-item-action">Item 1.4</button>
            <button type="button" class="list-group-item list-group-item-action">Item 1.5</button>
            <button type="button" class="list-group-item list-group-item-action">Item 1.6</button>
            <button type="button" class="list-group-item list-group-item-action">Item 1.7</button>
            <button type="button" class="list-group-item list-group-item-action">Item 1.8</button>
            <button type="button" class="list-group-item list-group-item-action">Item 1.9</button>
            <button type="button" class="list-group-item list-group-item-action">Item 1.10</button>

            <h2 class="fs-6 list-group-item fw-bold sticky-top">Group 2</h2>
            <button type="button" class="list-group-item list-group-item-action">Item 2.1</button>
            <button type="button" class="list-group-item list-group-item-action">Item 2.2</button>
            <button type="button" class="list-group-item list-group-item-action">Item 2.3</button>
            <button type="button" class="list-group-item list-group-item-action">Item 2.4</button>
            <button type="button" class="list-group-item list-group-item-action">Item 2.5</button>
            <button type="button" class="list-group-item list-group-item-action">Item 2.6</button>
            <button type="button" class="list-group-item list-group-item-action">Item 2.7</button>
            <button type="button" class="list-group-item list-group-item-action">Item 2.8</button>
            <button type="button" class="list-group-item list-group-item-action">Item 2.9</button>
            <button type="button" class="list-group-item list-group-item-action">Item 2.10</button>
        </div>
    </div>
</div>
