<style>
    #ScrollbyList_List:has(.active) > .list-group-item {
        display: none;
    }

    #ScrollbyList_List > .active ~ .list-group-item {
        display: block;
    }
</style>

<h2 class="card-title h5">List with sticky headers and nav</h2>

<div
    id="ScrollbyList_Content"
    class="border rounded"
    style="height: 300px; overflow-y: auto; position: relative;"
    tabindex="0"
>
    <div class="list-group list-group-flush">
        <header id="ScrollbyList_Section1" class="section-header list-group-item bg-body-secondary fw-bold sticky-top">
            Group 1
        </header>
        <div class="list-group-item">Item 1.1</div>
        <div class="list-group-item">Item 1.2</div>
        <div class="list-group-item">Item 1.3</div>
        <div class="list-group-item">Item 1.4</div>
        <div class="list-group-item">Item 1.5</div>
        <div class="list-group-item">Item 1.6</div>
        <div class="list-group-item">Item 1.7</div>
        <div class="list-group-item">Item 1.8</div>

        <header id="ScrollbyList_Section2" class="section-header list-group-item bg-body-secondary fw-bold sticky-top">
            Group 2
        </header>
        <div class="list-group-item">Item 2.1</div>
        <div class="list-group-item">Item 2.2</div>
        <div class="list-group-item">Item 2.3</div>
        <div class="list-group-item">Item 2.4</div>
        <div class="list-group-item">Item 2.5</div>
        <div class="list-group-item">Item 2.6</div>
        <div class="list-group-item">Item 2.7</div>

        <header id="ScrollbyList_Section3" class="section-header list-group-item bg-body-secondary fw-bold sticky-top">
            Group 3
        </header>
        <div class="list-group-item">Item 3.1</div>
        <div class="list-group-item">Item 3.2</div>
        <div class="list-group-item">Item 3.3</div>
        <div class="list-group-item">Item 3.4</div>

        <header id="ScrollbyList_Section4" class="section-header list-group-item bg-body-secondary fw-bold sticky-top">
            Group 4
        </header>
        <div class="list-group-item">Item 4.1</div>
        <div class="list-group-item">Item 4.2</div>
        <div class="list-group-item">Item 4.3</div>
        <div class="list-group-item">Item 4.4</div>
        <div class="list-group-item">Item 4.5</div>
        <div class="list-group-item">Item 4.6</div>
        <div class="list-group-item">Item 4.7</div>
    </div>

    <div
        id="ScrollbyList_List"
        class="list-group shadow sticky-bottom rounded overflow-hidden"
        style="--bs-list-group-bg: rgba(var(--bs-body-bg-rgb), .7); backdrop-filter: blur(10px)"
    >
        <a href="#ScrollbyList_Section1" class="list-group-item list-group-item-action fw-bold">Group 1</a>
        <a href="#ScrollbyList_Section2" class="list-group-item list-group-item-action fw-bold">Group 2</a>
        <a href="#ScrollbyList_Section3" class="list-group-item list-group-item-action fw-bold">Group 3</a>
        <a href="#ScrollbyList_Section4" class="list-group-item list-group-item-action fw-bold">Group 4</a>
    </div>
</div>

<script>
    import ScrollSpy from "bootstrap/js/dist/scrollspy.js"

    document.addEventListener("DOMContentLoaded", () => {
        new ScrollSpy(document.querySelector("#ScrollbyList_Content")!, {
            target: "#ScrollbyList_List",
            smoothScroll: true
        })
    })
</script>
