---
import ThemeGenerator from "$/components/ThemeGenerator.tsx"
import Layout from "$/layouts/Layout.astro"
import { BarChartLine } from "react-bootstrap-icons"
---

<Layout title={`Theme Playground • Blue Web`}>
    <div class="d-flex flex-column flex-lg-row gap-1">
        <div class="p-3">
            <ThemeGenerator client:only />
        </div>

        <div class="container-fluid flex-grow-1">
            <h1 class="page-header">Theme Playground</h1>

            <p>
                Here you can see how different components by Bootstrap and Blue Web will like with the current theme
                settings.
            </p>

            <masonry class="row" data-masonry='{"percentPosition": true }'>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <card class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h2 class="card-title h5"><BarChartLine aria-hidden /> Preview</h2>
                                <a
                                    href="theme-playground/#"
                                    class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                                    >more</a
                                >
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <input
                                            class="form-check-input me-1"
                                            type="checkbox"
                                            checked
                                            id="firstCheckbox"
                                        />
                                        <label class="form-check-label pe-100" for="firstCheckbox">Hoodies</label>
                                    </div>
                                    <div><span class="badge text-bg-secondary">25</span></div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <input
                                            class="form-check-input me-1"
                                            type="checkbox"
                                            checked
                                            id="secondCheckbox"
                                        />
                                        <label class="form-check-label" for="secondCheckbox">Bags</label>
                                    </div>
                                    <div><span class="badge text-bg-secondary">3</span></div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <input
                                            class="form-check-input me-1"
                                            type="checkbox"
                                            value=""
                                            id="thirdCheckbox"
                                        />
                                        <label class="form-check-label" for="thirdCheckbox">Shoes</label>
                                    </div>
                                    <div><span class="badge text-bg-warning">0</span></div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <input
                                            class="form-check-input me-1"
                                            type="checkbox"
                                            value=""
                                            id="fourthCheckbox"
                                        />
                                        <label class="form-check-label" for="fourthCheckbox">Accessories</label>
                                    </div>
                                    <div><span class="badge text-bg-secondary">4</span></div>
                                </li>
                            </ul>
                        </div>
                    </card>
                </div>

                <div class="col-sm-6 col-lg-4 mb-4">
                    <div role="tablist" class="blue-tabs">
                        <input
                            role="tab"
                            class="blue-tab"
                            aria-label="Tab 1"
                            type="radio"
                            checked=""
                            name="my_tabs_1"
                        />
                        <div
                            role="tabpanel"
                            class="blue-tab-content p-3 border rounded"
                            style="border-top-left-radius: 0 !important;"
                        >
                            Tab content 1
                        </div>

                        <input role="tab" class="blue-tab" aria-label="Tab 2" type="radio" name="my_tabs_1" />
                        <div role="tabpanel" class="blue-tab-content p-3 border rounded">Tab content 2</div>

                        <input role="tab" class="blue-tab" aria-label="Tab 3" type="radio" name="my_tabs_1" />
                        <div role="tabpanel" class="blue-tab-content p-3 border rounded">Tab content 3</div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 mb-4">
                    <card class="card">
                        <div class="card-body">
                            <h2 class="h5">Buttons</h2>

                            <div class="d-flex gap-3 flex-column">
                                <div class="d-flex gap-1 flex-wrap">
                                    <button type="button" class="btn btn-primary"> Primary </button>
                                    <button type="button" class="btn btn-secondary"> Secondary </button>
                                    <button type="button" class="btn btn-success"> Success </button>
                                    <button type="button" class="btn btn-danger"> Danger </button>
                                    <button type="button" class="btn btn-warning"> Warning </button>
                                    <button type="button" class="btn btn-info"> Info </button>
                                    <button type="button" class="btn btn-light"> Light </button>
                                    <button type="button" class="btn btn-dark"> Dark </button>
                                </div>

                                <div class="d-flex gap-1 flex-wrap">
                                    <button type="button" class="btn btn-outline-primary"> Primary </button>
                                    <button type="button" class="btn btn-outline-secondary"> Secondary </button>
                                    <button type="button" class="btn btn-outline-success"> Success </button>
                                    <button type="button" class="btn btn-outline-danger"> Danger </button>
                                    <button type="button" class="btn btn-outline-warning"> Warning </button>
                                    <button type="button" class="btn btn-outline-info"> Info </button>
                                    <button type="button" class="btn btn-outline-light"> Light </button>
                                    <button type="button" class="btn btn-outline-dark"> Dark </button>
                                </div>

                                <div class="d-flex gap-1 flex-wrap">
                                    <button type="button" class="btn blue-btn-soft-primary"> Primary </button>
                                    <button type="button" class="btn blue-btn-soft-secondary"> Secondary </button>
                                    <button type="button" class="btn blue-btn-soft-success"> Success </button>
                                    <button type="button" class="btn blue-btn-soft-danger"> Danger </button>
                                    <button type="button" class="btn blue-btn-soft-warning"> Warning </button>
                                    <button type="button" class="btn blue-btn-soft-info"> Info </button>
                                    <button type="button" class="btn blue-btn-soft-light"> Light </button>
                                    <button type="button" class="btn blue-btn-soft-dark"> Dark </button>
                                </div>

                                <div class="d-flex gap-1 flex-wrap">
                                    <button type="button" class="btn blue-btn-plain-primary"> Primary </button>
                                    <button type="button" class="btn blue-btn-plain-secondary"> Secondary </button>
                                    <button type="button" class="btn blue-btn-plain-success"> Success </button>
                                    <button type="button" class="btn blue-btn-plain-danger"> Danger </button>
                                    <button type="button" class="btn blue-btn-plain-warning"> Warning </button>
                                    <button type="button" class="btn blue-btn-plain-info"> Info </button>
                                    <button type="button" class="btn blue-btn-plain-light"> Light </button>
                                    <button type="button" class="btn blue-btn-plain-dark"> Dark </button>
                                </div>
                            </div>
                        </div>
                    </card>
                </div>

                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="toast d-block" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <svg
                                class="bd-placeholder-img rounded me-2 text-primary"
                                width="20"
                                height="20"
                                xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true"
                                preserveAspectRatio="xMidYMid slice"
                                ><rect width="100%" height="100%" fill="currentColor"></rect></svg
                            >
                            <strong class="me-auto">Your app</strong>
                            <small>11 mins ago</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">Hello, world! This is a toast message.</div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 mb-4">
                    <card class="card">
                        <div class="card-body">
                            <h2 class="h5">Alerts</h2>

                            <div class="alert alert-primary" role="alert">
                                A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it
                                a click if you like.
                            </div>
                            <div class="alert alert-secondary" role="alert">
                                A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give
                                it a click if you like.
                            </div>
                            <div class="alert alert-success" role="alert">
                                A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it
                                a click if you like.
                            </div>
                            <div class="alert alert-danger" role="alert">
                                A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a
                                click if you like.
                            </div>
                            <div class="alert alert-warning" role="alert">
                                A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it
                                a click if you like.
                            </div>
                            <div class="alert alert-info" role="alert">
                                A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a
                                click if you like.
                            </div>
                            <div class="alert alert-light" role="alert">
                                A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a
                                click if you like.
                            </div>
                            <div class="alert alert-dark" role="alert">
                                A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a
                                click if you like.
                            </div>
                        </div>
                    </card>
                </div>

                <div class="col-sm-6 col-lg-4 mb-4">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">Header</th>
                                                <th scope="col">Header</th>
                                                <th scope="col">Header</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">A</th>
                                                <td>First</td>
                                                <td>Last</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">B</th>
                                                <td>First</td>
                                                <td>Last</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">C</th>
                                                <td>First</td>
                                                <td>Last</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>John</td>
                                <td>Doe</td>
                                <td>@social</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="form-floating">
                        <textarea
                            class="form-control"
                            placeholder="Leave a comment here"
                            id="floatingTextarea2"
                            style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                </div>
            </masonry>
        </div>
    </div>
</Layout>

<script
    src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
    crossorigin="anonymous"
    async></script>
