---
import Code from "$/components/Code"
import fs from "fs"
import path from "path"
import { fileURLToPath } from "url"

interface GrabItem {
    src: string
}

export interface Props {
    items: GrabItem[]
}

const __filename = fileURLToPath(import.meta.url)
const __dirname = path.dirname(__filename)

function resolveSrc(src: string) {
    if (src.startsWith("@/")) {
        // __dirname ist das Verzeichnis dieser Komponente
        // Wir gehen von site/src/components/Grab.astro → site/src/
        return path.resolve(__dirname, "..", "..", "..", src.slice(2))
    }
    return src
}

function resolveToGitHubLink(src: string) {
    return src.replace("@/", "https://github.com/bruegmann/blue-web/tree/main/")
}

const { items } = Astro.props

const contents = items.map((item) => {
    try {
        return fs.readFileSync(resolveSrc(item.src), "utf-8")
    } catch (ex: any) {
        console.log(ex)
        return "Fehler beim Lesen"
    }
})
---

<div class="border rounded p-3 shadow mb-3">
    <h2>Grab the code</h2>

    <p>
        When you don't use the entire Blue Web library, you can also just copy and paste the required code into your own
        project.
    </p>

    <ol>
        {
            items.map((item, i) => (
                <li>
                    <strong>
                        Copy and paste the following code into your project. Source:{" "}
                        <a href={resolveToGitHubLink(item.src)}>{item.src}</a>
                    </strong>
                    <Code
                        code={contents[i]}
                        language={path.extname(item.src).replace(".", "")}
                        expandable
                        client:only
                    />
                </li>
            ))
        }
    </ol>
</div>
