---
import CopyToClipboard from "$/components/CopyToClipboard"

const { code } = Astro.props
---

<div class="example rounded-top-5 border p-1 mb-3" style="border-radius: calc(var(--bs-border-radius) + .25rem);">
    <div class="example-demo p-3" set:html={code} />

    <details class="example-code blue-collapse border rounded bg-body-secondary position-relative">
        <summary style="padding: 0.7rem 1rem">
            <header class="blue-collapse-header d-flex">
                <div class="blue-collapse-chevron me-1" aria-hidden="true">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        class="bi bi-chevron-right"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                        ></path>
                    </svg>
                </div>
                Code
            </header></summary
        >
        <pre><code class="language-html">{code}</code></pre>
        <CopyToClipboard content={code} className="position-absolute top-0 end-0 mt-1 me-1 btn-sm" client:idle />
    </details>
</div>
