<style>
    #docsSearchResults:not(:empty) {
        margin-top: 1rem;
    }
</style>

<button onclick="document.getElementById('mysearchdialog').showModal()" class="form-control w-auto btn-sm mx-auto">
    Search <kbd class="ms-1">
        <kbd class="small">
            {
                /(Mac|iPhone|iPod|iPad)/i.test((navigator as any).userAgentData?.platform || navigator.platform)
                    ? "⌘"
                    : "Ctrl"
            }
        </kbd>{" "}
        + <kbd class="small">K</kbd>
    </kbd></button
>

<dialog class="blue-modal modal" id="mysearchdialog" closedby="any">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <search>
                    <div class="blue-input-group input-group">
                        <label for="docsSearchInput" class="input-group-text">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                fill="currentColor"
                                class="bi bi-search"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                                ></path>
                            </svg>
                            <span class="visually-hidden">Search</span>
                        </label>
                        <input type="search" class="form-control" id="docsSearchInput" placeholder="Search" autofocus />
                    </div>

                    <bl-select-list
                        id="docsSearchResults"
                        for="docsSearchInput"
                        class="list-group"
                        aria-label="Search results"
                    >
                    </bl-select-list>
                </search>
            </div>
        </div>
    </div>
    <form method="dialog" class="blue-modal-backdrop"><button>Close</button></form>
</dialog>

<script type="module">
    let searchIndex
    const input = document.getElementById("docsSearchInput")
    const resultsList = document.getElementById("docsSearchResults")
    let currentResults = []

    async function query(text) {
        if (!searchIndex) {
            searchIndex = await fetch("search-index.json").then((r) => r.json())
        }
        currentResults = searchIndex.filter((item) => item.toLowerCase().includes(text.toLowerCase()))
        renderResults()
    }

    function renderResults() {
        resultsList.innerHTML = currentResults
            .map(
                (result, i) =>
                    `<a href="${result}"
                    class="list-group-item list-group-item-action"
                >${decodeURIComponent(result)}</a>`
            )
            .join("")
        resultsList.updateItems?.()
    }

    input.addEventListener("input", ({ target }) => {
        query(target.value)
    })

    document.addEventListener("keydown", (ev) => {
        // Shortcut Ctrl+K, or Command+K (macOS/iPadOS)
        if ((ev.ctrlKey || ev.metaKey) && ev.code === "KeyK") {
            ev.preventDefault()
            document.getElementById("mysearchdialog").showModal()
        }
    })
</script>
