name: Publish Package

on:
    push:
        tags:
            - "v*"

permissions:
    id-token: write # Required for OIDC
    contents: read

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - uses: actions/setup-node@v6
              with:
                  node-version: ">=24.13.0" # Required for OIDC, since it only works with NPM 11.5.1 or later
                  registry-url: "https://registry.npmjs.org"
            - run: npm ci
            - run: npm -v
            - run: npm publish
